{:paths ["src"]
 :deps {org.clojure/core.async      {:mvn/version "1.6.673"}
        org.clojure/tools.namespace {:mvn/version "1.2.0"}}
 :aliases {:dev {:extra-paths ["dev-src"]}
           :test-clj {:extra-paths ["test"]
                      :extra-deps {lambdaisland/kaocha {:mvn/version "1.70.1086"}}
                      :main-opts ["-m" "kaocha.runner"]}
           :test-cljs {:extra-paths ["test"]
                       :extra-deps {com.lambdaisland/kaocha-cljs {:mvn/version "1.4.130"}
                                    org.clojure/clojurescript {:mvn/version "1.11.60"}}
                       :main-opts ["-m" "kaocha.runner"]}
           :build {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}
                                rewrite-clj/rewrite-clj {:mvn/version "1.0.767-alpha"}}
                   :ns-default build
                   :jvm-opts ["-Dcljfx.skip-javafx-initialization=true"] }}}
