#kaocha/v1
{:tests [{:id :unit-cljs
          :type :kaocha.type/cljs
          :source-paths ["src"]
          :test-paths ["test"]
          :cljs/repl-env cljs.repl.node/repl-env}
         {:id :unit-clj
          :source-paths ["src"]
          :test-paths ["test"]}]
 :kaocha/fail-fast? true
 :plugins [:kaocha.plugin/profiling]}
